button {
    border: none;
    background-color: transparent;
    font-size: var(--icon-size-small-medium);
    color: var(--primary);

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}