header {
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    position: fixed;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;

        h1 {
            font-size: var(--text-size-large);
        }

    }

    .menu {
        display: flex;
        flex-direction: column;
        float: right;
        align-items: end;
        gap: 10px;
        padding: 0px 10px;
        transition: all ease-in 200ms;

        a {
            text-decoration: none;
            color: var(--primary);
        }
    }
}