main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    .card {
        background-color: var(--bg-light);
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: var(--box-shadow);

        &.gollum {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            box-shadow: var(--box-shadow);

            h2 {
                margin: 0;
            }

            img {
                width: 200px;
                border-radius: 10px;
            }

            .timer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;

                .timer-title {
                    font-size: var(--text-size-medium);
                }
            }
        }

    }

    .card-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}