form {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .input-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        span {
            align-self: flex-start;
        }

        input {
            width: 100%;
            border-radius: 5px;
            padding: 8px;

            &::placeholder {
                font-family: "Funnel Display", Arial, Helvetica, sans-serif;
            }
        }
    }

    button {
        background-color: var(--bg-light);
        border-radius: var(--border-radius);
        padding: 10px;

        &:hover {
            transform: scale(1.1);
        }
    }
}