.grid {
    display: flex;
    gap: 5px;
    padding: 10px;

    li {
        display: flex;
        flex-direction: column;
        font-size: var(--text-size-medium);
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        background-color: var(--bg-light);
        box-shadow: var(--box-shadow);

        span {
            white-space: nowrap;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            justify-content: center;
        }
    }

    img {
        width: 100px;
    }
}