.recipe-card {
    li {
        background-color: var(--bg-light);
        padding: 15px;
        border-radius: var(--border-radius);

        .top-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .top-section-text {
                h3 {
                    text-decoration: underline;
                }

                .description {
                    font-size: var(--text-size-medium-small);
                }
            }

            img {
                width: 100px;
            }

        }

        .ingredient-list {
            list-style: disc;
            display: flex;
            font-size: var(--text-size-medium-small);
        }
    }
}

@media (width >=1000px) {
    .recipe-card {
        li {
            .top-section {
                img {
                    width: 300px;
                }
            }
        }
    }
}