.title-section {
    display: flex;
    justify-content: center;
}

.filter-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
    overflow: hidden;
    padding: 10px;

    h4 {
        margin: 0;
        padding: 0px 10px;
        color: var(--text-muted);
    }


    .recipe-card {
        background-color: var(--bg-light);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: var(--box-shadow);
        gap: 10px;

        .text-section {
            display: flex;
            flex-direction: column;

            p {
                align-self: flex-start;
            }

            h3 {
                margin: 0;
                align-self: center;
            }
        }

        .bottom-section {
            display: flex;
            position: relative;
            justify-content: center;

            img {
                width: 200px;
                border-radius: 10px;
                object-fit: cover;
            }

            .arrow {
                position: absolute;
                right: 0;
                top: 80%;
                transform: translateY(-50%);
                font-size: var(--icon-size-medium);
                color: var(--primary);
            }
        }


    }
}