.input-section {
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    gap: 50px;

    h3 {
        margin: 0;
        display: flex;
        align-items: center;

        .icon-filter {
            font-size: var(--icon-size-medium);
            color: var(--primary);
        }
    }

    ul {
        z-index: 1;
        gap: 5px;
        margin-top: 30px;
        position: absolute;
        background-color: var(--bg-blur);
        border-radius: 10px;
        padding: 5px 10px;

        li {
            background-color: var(--bg-dark);
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: var(--text-size-small);
            align-self: center;

            &:focus {
                background-color: var(--bg-light);
            }

            &:first-child {
                background-color: var(--secondary);
            }
        }
    }
}