:root {
    --color-bg-dark: hsl(23 85% 89%);
    --color-bg: hsl(23 100% 94%);
    --color-bg-light: hsl(23 100% 100%);
    --color-text: hsl(5 100% 6%);
    --color-text-muted: hsl(25 62% 25%);
    --color-highlight: hsl(23 100% 99%);
    --color-border: hsl(24 34% 48%);
    --color-border-muted: hsl(24 43% 61%);
    --color-primary: hsl(29 99% 22%);
    --color-secondary: hsl(196 100% 18%);

    --padding-large: 20px;
    --padding-medium: 15px;
    --padding-small: 10px;
    --gap-normal: 1rem;

    --font-size-small: 0.8rem;
    --font-size-medium: 0.9rem;
    --font-size-medium-large: 1rem;
    --font-size-large: 2.5rem;
    --font-size-larger: 3rem;

    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}

body .dark {
    --color-bg-dark: hsl(8 100% 2%);
    --color-bg: hsl(16 100% 5%);
    --color-bg-light: hsl(23 80% 8%);
    --color-text: hsl(23 100% 94%);
    --color-text-muted: hsl(24 54% 68%);
    --color-highlight: hsl(24 43% 37%);
    --color-border: hsl(25 62% 25%);
    --color-border-muted: hsl(27 100% 14%);
    --color-primary: hsl(24 67% 67%);
    --color-secondary: hsl(201 72% 67%);
}